*.lineidx
/pretrained_models/blip2-opt-2.7b
/data/VRD/
/data/Features/BLIP1/
/data/*
!/data/Features/
!/data/download.sh
/output/CLEVER/*
/output/SMART/*
/pretrained_models/pretrained_base/
/pretrained_models/pretrained_avg_model/
**__pycache__/